.header {
    position: absolute;
width: 1600px;
height: 80px;
left: 0px;
top: 0px;

background: #FFFFFF;
}

.header-logo {
    position: absolute;
width: 145px;
height: 31px;
left: 215px;
top: 24px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 31px;
text-decoration: none;

letter-spacing: 0.03em;

color: #2196F3;
}

.header-logo > span {
color: #212121 ;
}
.nav-menu {
    display: flex;
    position: absolute;
    color: #212121;
}

.nav-link-first {
    position: absolute;
    width: 49px;
    height: 16px;
    left: 453px;
    top: 32px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
    
color: #212121;
}

.nav-link-first:hover {
    color: #2196F3;
}

.nav-link-second {
    position: absolute;
width: 77px;
height: 16px;
left: 552px;
top: 32px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
text-decoration: none;

color: #212121;
}

.nav-link-second:hover {
    color: #2196F3;

}

.nav-link-third {
    position: absolute;
width: 68px;
height: 16px;
left: 679px;
top: 32px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
text-decoration: none;

color: #212121;
}

.nav-link-third:hover {
    color: #2196F3;

}

.header-mail {
    position: absolute;
width: 135px;
height: 16px;
left: 1078px;
top: 32px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
text-decoration: none;

color: #757575;
}

.header-mail:hover {
    color: #2196F3;
}

.header-contact {
    position: absolute;
width: 122px;
height: 16px;
left: 1263px;
top: 32px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
text-decoration: none;

color: #757575;
}

.header-contact:hover {
    color: #2196F3;
    ;
}

.hero-background {
    position: absolute;
width: 1600px;
height: 600px;
left: 0px;
top: 80px;
margin-top: 80px;

background: #2F303A;
}

.main-title {
    position: absolute;
width: 696px;
height: 120px;
left: 452px;
top: 280px;

font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
/* or 136% */

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;
}

.features {
    position: absolute;
    width: 1170px;
    height: 101px;
    left: 215px;
    top: 774px;
    display: flex;    
}

.occupation {
    position: absolute;
width: 1170px;
height: 386px;
left: 215px;
top: 969px;

}

.order-btn {
    position: absolute;
left: 700px;
top: 430px;

background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 30px;

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
cursor: pointer;

color: #FFFFFF;
}

.description-title {
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
text-decoration: none;

color: #212121;
}

.description {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
text-decoration: none;

letter-spacing: 0.03em;

color: #757575;
}

.first-section-name {
    position: absolute;
width: 376px;
height: 42px;
left: 612px;
top: 969px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
text-decoration: none;

color: #212121;
}

.sec-section-name {
    position: absolute;
width: 264px;
height: 42px;
left: 668px;
top: 1543px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
text-decoration: none;

color: #212121;
}

.name {
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

text-align: center;
letter-spacing: 0.03em;
text-decoration: none;

color: #212121;
}

.function {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;

text-align: center;
letter-spacing: 0.03em;

color: #757575;
}

.img {
    display: block;
}

.bot-section {
    position: absolute;
width: 1600px;
height: 648px;
left: 0px;
top: 1449px;

background: #F5F4FA;
}

.footer {
    position: absolute;
width: 1600px;
height: 252px;
left: 0px;
top: 2097px;

background: #2F303A;
}

.footer-logo {
    position: absolute;
width: 145px;
height: 31px;
left: 215px;
top: 2157px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 31px;
text-decoration: none;

letter-spacing: 0.03em;

color: #2196F3;
}

.footer-address {
    position: absolute;
width: 231px;
height: 21px;
left: 215px;
top: 2208px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
text-decoration: none;

letter-spacing: 0.03em;

color: #FFFFFF;
}

.footer-mail {
    position: absolute;
width: 231px;
height: 21px;
left: 215px;
top: 2238px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
text-decoration: none;

letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);

}

.footer-contact {
    position: absolute;
width: 231px;
height: 21px;
left: 215px;
top: 2268px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
text-decoration: none;

letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
}

.btn-nav {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    justify-content: flex-start;    
    text-align: center;
    letter-spacing: 0.03em;
background: #F5F4FA;
border-radius: 4px;
}

.portfolio {
    position: absolute;
    width: 1170px;
    height: 1360px;
    left: 215px;
    top: 174px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}

.portfolio-name {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.portfolio-btn {
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 30px;

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
cursor: pointer;

color: #FFFFFF;
}

.footer-portfolio {
    position: absolute;
width: 1600px;
height: 252px;
left: 0px;
top: 1628px;

background: #2F303A;
}

.footer-logo-portfolio {
    position: absolute;
width: 145px;
height: 31px;
left: 215px;
top: 1688px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 31px;
/* identical to box height */

letter-spacing: 0.03em;

color: #2196F3;
}

.footer-address-portfolio {
    position: absolute;
width: 231px;
height: 21px;
left: 215px;
top: 1739px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: #FFFFFF;
}

.footer-mail-portfolio {
    position: absolute;
width: 231px;
height: 21px;
left: 215px;
top: 1769px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;

letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
}