.header {

    background: #FFFFFF;
}

.header-logo {
    
font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.5;
text-decoration: none;

letter-spacing: 0.03em;

color: #2196F3;
}

.header-logo > span {
    color: #212121 ;
    }
 
/*    
.nav {

}
*/

.nav-menu {
    display: flex;
    
    color: #212121;
}

.nav-link-first {
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    
color: #212121;
}

.nav-link-first-studio {
    color: #2196F3;
}

.nav-link-first:hover {
    color: #2196F3;
}

.nav-link-second {

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.5;
letter-spacing: 0.02em;
text-decoration: none;

color: #212121;
}

.nav-link-second-portfolio {
    color: #2196F3;
}

.nav-link-second:hover {
    color: #2196F3;

}

.nav-link-third {

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.5;
letter-spacing: 0.02em;
text-decoration: none;

color: #212121;
}

.nav-link-third:hover {
    color: #2196F3;

}

.header-mail {

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.5;
letter-spacing: 0.02em;
text-decoration: none;

color: #757575;
}

.header-mail:hover {
    color: #2196F3;
}

.header-contact {

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.5;
letter-spacing: 0.02em;
text-decoration: none;

color: #757575;
}

.header-contact:hover {
    color: #2196F3;
    ;
}

.hero-background {

background: #2F303A;
}

.main-title {

font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.5;

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;
}

.order-btn {

    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    
    color: #FFFFFF;
    }    

.features {
    
    width: 1170px;
    height: 101px;
    left: 215px;
    top: 774px;
    display: flex;    
}

.description-title {
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 1.5;
letter-spacing: 0.03em;
text-transform: uppercase;
text-decoration: none;

color: #212121;
}

.description {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.5;
text-decoration: none;

letter-spacing: 0.03em;

color: #757575;
}

.occupation {
    
    width: 1170px;
    height: 386px;
    left: 215px;
    top: 969px;
    
    }
    
.first-section-name {

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.03em;
text-decoration: none;

color: #212121;
}

/*
.main-studio-images {

}
*/

.bot-section {
    
    width: 1600px;
    height: 648px;
    left: 0px;
    top: 1449px;
    
    background: #F5F4FA;
    }
    
.sec-section-name {

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.03em;
text-decoration: none;

color: #212121;
}

/*
.bot-studio-images {

}
*/

.name {
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;

text-align: center;
letter-spacing: 0.03em;
text-decoration: none;

color: #212121;
}

.function {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1.5;

text-align: center;
letter-spacing: 0.03em;

color: #757575;
}

.footer {

background: #2F303A;
}

.footer-logo {

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.5;
text-decoration: none;

letter-spacing: 0.03em;

color: #2196F3;
}

.footer-logo>span {
    color: #ffffff;
}

.footer-address {

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.5;
text-decoration: none;

letter-spacing: 0.03em;

color: #FFFFFF;
}

.footer-address:hover {
    color: #2196F3;
}

.footer-mail {

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.5;
text-decoration: none;

letter-spacing: 0.03em;

color: #ffffff99;

}

.footer-mail:hover {
    color: #2196F3;
}

.footer-contact {

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.5;
text-decoration: none;

letter-spacing: 0.03em;

color: #ffffff99;
}
.footer-contact:hover {
    color: #2196F3;
}
.portfolio {
    
    width: 1170px;
    height: 1360px;
    left: 215px;
    top: 174px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}

.portfolio-name {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.portfolio-btn {
background: #F5F4FA;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
cursor: pointer;

color: #212121;
}

.portfolio-btn:hover {
    color: #FFFFFF;
    background: #2196F3;
}

/*
.portfolio-list {

}

.portfolio-list-items {

}

.portfolio-images {

}
*/

.portfolio-item {
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 1.5;

letter-spacing: 0.06em;

color: #212121;
}

.portfolio-item-description {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1.5;

letter-spacing: 0.03em;

color: #757575;
}

.footer-portfolio {
    
width: 1600px;
height: 252px;
left: 0px;
top: 1628px;

background: #2F303A;
}

.footer-logo-portfolio {

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.5;
text-decoration: none;

letter-spacing: 0.03em;

color: #2196F3;
}

.footer-logo-portfolio>span {
    color:#212121;
}

.footer-address-portfolio {

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.5;
text-decoration: none;

letter-spacing: 0.03em;

color: #FFFFFF;
}
.footer-address-portfolio:hover {
color: #2196F3;
}

.footer-mail-portfolio {

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.5;
text-decoration: none;

letter-spacing: 0.03em;

color: #ffffff99;
}

.footer-mail-portfolio:hover {
color: #2196F3;
}

.footer-contact-portfolio {

    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.5;
text-decoration: none;

letter-spacing: 0.03em;

color: #ffffff99;
}

.footer-contact-portfolio:hover {
    color: #2196F3;  
}
li {
    list-style-type: none;
}